// Lightbox Gallery
//
// This organism requires the lightbox molecule which delievers the styles and scripts for the individual thumbs and full size images. There you will find all information necessary to set up the single images.
//
// To turn them into galleries simply add a value to the `data-lightbox` attributes. All images on the page that share the same value will be linked together as a gallery which enables you to have multiple independent galleries on one page.
//
// This gallery lays out several lightbox molecules in a nice responsive grid that is nicely adjustable through the mixin structure.
//
// The organism assumes the use of the grid system layed out in the `dependencies/layout` partial with four main breakpoints. The mixin lets you add a column number for the default state and each one of the breakpoints if so wished. To skip a breakpoint simply set its respective value to `$*-cols: null`.
//
// Markup: lightbox-gallery.html
//
// Style guide: organisms.lightbox-gallery

/// This mixin creates a grid for its children of a certain class that will typically be used to nicely lay out lightbox thumbnails in a gallery style. Through the mixin you can exactly control the number of columns for each breakpoint we have defined and have some influence over the selectors.
///
/// Columns are defined as they are used in the Susy mixin as number of columns of the container, that one child takes up. By default the context is 12 columns. If there is need for adjustment on that you have to change the mixin code itself (at the  moment).
///
/// @param {String} $gallery ['.lightbox-gallery'] - Selector for the whole gallery (its container)
/// @param {Boolean} $has-divider [true] - If true a dividing border will be put between each instance of the gallery
/// @param {String} $no-border ['.no-border'] - Selector to indicate that no divider should be placed above that gallery
/// @param {String} $pics ['.lb-thumb'] - Selector for the items to be layed out (defaults to the default lightbox thumbnail class)
/// @param {Number} $default-cols [null] - Number of columns per item without a breakpoint
/// @param {Number} $xs-cols [6] - Number of columns per item at the `xs` breakpoint
/// @param {Number} $sm-cols [3] - Number of columns per item at the `sm` breakpoint
/// @param {Number} $md-cols [null] - Number of columns per item at the `md` breakpoint (setting this to `null` means that the number of columns for the `sm` breakpoint will be in effect for the `md` breakpoint as well since we are using mobile first (`min-width`) breakpoints)
/// @param {Number} $lg-cols [2] - Number of columns per item at the `lg` breakpoint
///
/// @since 0.1.0
///
/// @author Raphael Hüni
///
/// @group Organisms
///
/// @requires clearfix
@mixin lightbox-gallery(
  $gallery: '.lightbox-gallery',
  $has-divider: true,
  $no-border: '.no-border',
  $pics: '.lb-thumb',
  $default-cols: null,
  $xs-cols: 6,
  $sm-cols: 3,
  $md-cols: null,
  $lg-cols: 2
) {
  #{$gallery} {
    @include clearfix;

    margin-bottom: $lb-gallery-spacing / 2;

    @if $has-divider {
      &:not(:first-child) {
        padding-top: $lb-gallery-spacing;
        border-top: $lb-gallery-border-top;
      }

      // an extra class to indicate galleries that should not have a border
      &#{$no-border} {
        padding-top: 0;
        border-top: 0;
      }
    }

    #{$pics} {
      margin-bottom: $lb-gallery-spacing;

      @if $default-cols {
        @include gallery($default-cols of 12 after);
      }

      @if $xs-cols {
        @include susy-media(xs) {
          @include gallery($xs-cols of 12 after);
        }
      }

      @if $sm-cols {
        @include susy-media(sm) {
          @include gallery($sm-cols of 12 after);
        }
      }

      @if $md-cols {
        @include susy-media(md) {
          @include gallery($md-cols of 12 after);
        }
      }

      @if $lg-cols {
        @include susy-media(lg) {
          @include gallery($lg-cols of 12 after);
        }
      }
    }
  }
}

$lb-gallery-border-top: rem-calc(6) solid $color-primary !default;
$lb-gallery-spacing: gutter() !default;
