// Type
//
// Sets the default styles for all text. All variables used for these styles are defined in the dependencies/typography file.
//
// Markup: type.html
//
// Style guide: atoms.type





// basic html tags
body,
p {
  @include get-typography(base);
}

// headings //

// set up the base style for the headings as a placeholder selector. This is placed here so the extended selectors are inserted at the correct place
@include headings-base;

h1 {
  @include get-typography(h1);
}

h2 {
  @include get-typography(h2);
}

h3 {
  @include get-typography(h3);
}

// anchor tags //

a {
  color: $anchor-color-font;
  font-style: $anchor-font-style;
  text-decoration: $anchor-text-decoration;

  &:hover,
  &:active,
  &:focus {
    text-decoration: $anchor-text-decoration-hover;
  }
}

.lead {
  @include get-typography(lead);
}
