/*
# Type

Sets the default styles for all text. All variables used for these styles are defined in the dependencies/typography file.

```
<h1>Lorem Ipsum h1</h1>
<p>
  Lorem ipsum dolor <strong>sit amet</strong>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum <a href="#">sociis</a> natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
</p>
<h2>Aenean Commodo h2</h2>
<p>
  Lorem ipsum dolor <strong>sit amet</strong>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum <a href="#">sociis</a> natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
</p>
<h2>Adipiscing Elit h2</h2>
<p>
  Lorem ipsum dolor <strong>sit amet</strong>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum <a href="#">sociis</a> natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
</p>
<p>
  Lorem ipsum dolor <strong>sit amet</strong>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum <a href="#">sociis</a> natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
</p>
<h3>Vulputate Eget h3</h3>
<p>
  Lorem ipsum dolor <strong>sit amet</strong>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum <a href="#">sociis</a> natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
</p>
<h3>Donec Pede Justo h3</h3>
<p>
  Lorem ipsum dolor <strong>sit amet</strong>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum <a href="#">sociis</a> natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
</p>
```
*/

// basic html tags
body,
p {
  @include get-typography(base);
}

// headings //

// set up the base style for the headings as a placeholder selector. This is placed here so the extended selectors are inserted at the correct place
#{$headings-placeholder} {
  @include headings-base;
}

h1 {
  @include get-typography(h1);
}

h2 {
  @include get-typography(h2);
}

h3 {
  @include get-typography(h3);
}

// anchor tags //

a {
  color: $anchor-color-font;
  font-style: $anchor-font-style;
  text-decoration: $anchor-text-decoration;

  &:hover,
  &:active,
  &:focus {
    text-decoration: $anchor-text-decoration-hover;
  }
}

.lead {
  @include get-typography(lead);
}
