// Off Canvas Navigation
//
// The off canvas navigation is used to display the navigation nicely
// in the mobile view.
// In its structure it follows the tutorial by Zell Liew which can be
// found [here](http://www.zell-weekeat.com/off-canvas-layouts-susy/).
//
// Markup: off-canvas.html
//
// Style guide: molecules.off-canvas

.body-container {
  position: relative;
  width: 100%;
  height: 100%;

  // this hides the overflowing off canvas
  overflow-x: hidden;
}

// this will be the part of the page that is actually moved around and therefore is wider then the window
.transformer {
  height: 100%;
  transition: transform .5s ease;

  &.in {
    // we only show the off-canvas navigation if on screens sufficiently small. As soon as the main navbar appears the off canvas can and should be hidden
    @include susy-media(max-mobile) {
      // if the off canvas view is toggled on and we are on sufficiently small screens (see above) we move the transformer to the left by the width of the off canvas menu
      transform: translate3d(-$off-canvas-width, 0, 0);
    }
  }
}

@include off-canvas(
  $position: 'right'
);
