<a href="#" class="btn {{modifier_class}}">Anchor Tag Button</a><br>
<button class="btn {{modifier_class}}">Button Tag</button><br>
<input type="submit" class="btn {{modifier_class}}" value="Button Input"><br>
