/*
# Navbar

This is the main navigation navbar. It features a dropdown for level 2 items and will move off canvas for small screens. The off canvas menu will be built as a seperate component below. It remains to be seen, whether both menus can be put into one or whether there will have to be two different menus on the page.

```
<nav role="navigation" class="navbar">
  <div class="navbar-span">
    <ul class="navbar-list" id="main-navigation">
      <li class="navbar-list-item level-1">
        <a class="navbar-link home" href="#">
          Home
        </a>
      </li>
      <li class="navbar-list-item level-1">
        <a class="navbar-link active" href="#">
          Alenia
        </a>
        <ul class="menu-level-2 menu">
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Profil
            </a>
          </li>
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Ansprechpartner
            </a>
          </li>
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Standorte
            </a>
          </li>
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Medien
            </a>
          </li>
        </ul>
      </li>
      <li class="navbar-list-item level-1">
        <a class="navbar-link" href="#">
          Beratung
        </a>
      </li>
      <li class="navbar-list-item level-1">
        <a class="navbar-link" href="#">
          Pflege
        </a>
        <ul class="menu-level-2 menu">
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Profil
            </a>
          </li>
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Ansprechpartner
            </a>
          </li>
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Standorte
            </a>
          </li>
          <li class="navbar-list-item level-2">
            <a class="navbar-link" href="#">
              Medien
            </a>
          </li>
        </ul>
      </li>
      <li class="navbar-list-item level-1">
        <a class="navbar-link" href="#">
          Dienstleistungen
        </a>
      </li>
    </ul>
  </div>
</nav>
```
*/
.navbar {
  // we do not show the navbar for small screens as there an off canvas navigation will typically be used
  display: none;

  background-color: $navbar-color-background;

  // these two are very design specific configurations, check whether they are actually needed if not comment them out or delete them
  border-bottom: $navbar-border;
  box-shadow: inset $navbar-shadow;

  height: $navbar-height;

  // defines from which min-width on the navbar is displayed
  // we maybe should add a $go-big variable that is applied throughout all partials to ensure consistent behavior and easy modification
  @include susy-media(go-desktop) {
    display: block;
  }

  // this styles configure nested submenu items that will be displayed on hover or maybe active states
  .menu {
    // position the menu outside of the viewport so it is not visible
    position: absolute;
    left: -9999px;

    min-width: $navbar-width-dropdown;

    list-style: none;

    background-color: rgba($navbar-color-background, 0);
    box-shadow: $navbar-shadow-dropdown;

    padding: $navbar-padding;

    // transition for how the submenu should appear on hover
    transition: $navbar-transition-dropdown;

    // needed to put the menu over checkboxes
    z-index: 1;
  }
}

.navbar-list {
  list-style: none;

  // stretch the ul over the whole container width
  width: 100%;
}

.navbar-list-item {
  &.level-1 {
    display: inline-block;
    position: relative;

    &:hover .menu {
      // this makes the submenu appear
      left: 0;
      background-color: $navbar-color-background;
    }
  }
}

.navbar-link {
  display: block;
  height: $navbar-height;

  color: $navbar-color-font;
  font-size: $navbar-font-size;
  line-height: $navbar-height;
  text-decoration: $navbar-link-text-decoration;

  padding: $navbar-padding;

  .level-2 & {
    // prevent sublevel items from wrapping and add ellipsis for overflow-x
    @include text-ellipsis;
  }

  &:hover,
  &:active,
  &:focus,
  .navbar-list-item:hover > & {
    color: $navbar-color-font-hover;
    text-decoration: $navbar-link-text-decoration-hover;
    font-weight: $navbar-font-weight-hover;
  }

  &.active,
  &.starter_active {
    height: $navbar-height-active;

    margin-top: $navbar-active-margin-top;

    background-color: $navbar-color-background-active;
    border-top: $navbar-border;
    box-shadow: $navbar-shadow-active;

    &:hover,
    &:active,
    &:focus,
    .navbar-list-item:hover > & {
      color: $navbar-color-font;
      font-weight: normal;
    }
  }

  &.home {
    // hide text
    text-indent: -9999px;
    background-size: $navbar-icon-home-size;
    background-position: $navbar-icon-home-position;
    width: $navbar-icon-home-size + 1.5rem;
  }
}
