// Lightbox
//
// This lightbox relies on the plugin provided by Lokesh Dhakar: http://lokeshdhakar.com/projects/lightbox2/
//
// To turn the lightbox on simply add a `data-lightbox` attribute to any image link. To create a gallery simply set the same `data-lightbox` value for several images. If you wish to see a caption add a `data-title` attribute. The plugin has been
// improved to read out the figcaption provided as a title too. So you can either set a figcaption, the `data-title` attribute or just a `title` attribute.
//
// To lay these lightboxes out in a nice gallery check out the lightbox-gallery organism.
//
// Markup: lightbox.html
//
// Style guide: molecules.lightbox

$lb-figcaption-background: $white !default;
$lb-figcaption-height: rem-calc(38) !default;
$lb-figcaption-padding: rem-calc(0 12) !default;

$lb-enum-color: $color-lines !default;
$lb-enum-font-size: rem-calc(28) !default;
$lb-enum-font-weight: bold !default;
$lb-enum-separator-spacing: rem-calc(6) !default;

$lb-images-path: '/images/molecules/lightbox/' !default;

$lb-caption-color: $color-text !default;
$lb-caption-font-size: rem-calc(13) !default;
$lb-caption-font-weight: bold !default;
$lb-caption-line-height: 16/13 !default;
$lb-caption-padding: rem-calc(0 4) !default;

$lb-number-color: $color-text !default;
$lb-number-font-size: rem-calc(12) !default;
$lb-number-padding: 1rem !default;

@mixin lightbox(
  $thumbnail: '.lb-thumb',
  $thumbnail-caption: '.lb-figcaption',
  $thumbnail-number: true,
  $thumbnail-number-separator: true,
  $thumbnail-number-separator-char: '|',
  $thumbnail-enum: '.lb-enum'
) {
  #{$thumbnail} {
    a {
      // since the link only contains an image this ensures that there is no added space between the image and the caption
      display: block;
      line-height: 0;
    }
  }

  // style the thumbnail caption
  #{$thumbnail-caption} {
    height: $lb-figcaption-height;
    padding: $lb-figcaption-padding;
    background-color: $lb-figcaption-background;
    line-height: $lb-figcaption-height;
  }

  // if the thumbnails are enumerated through the caption, here are the styles for the numbers. We also add a separating pipe (|) which might want to be removed for certain projects depending on the design language
  @if $thumbnail-number {
    #{$thumbnail-enum} {
      color: $lb-enum-color;
      font-size: $lb-enum-font-size;
      font-weight: $lb-enum-font-weight;

      vertical-align: bottom;

      // if we want a separator we add it here
      @if $thumbnail-number-separator {
        &::after {
          margin: 0 $lb-enum-separator-spacing;

          content: $thumbnail-number-separator-char;

          // this helps alignment with the text after
          vertical-align: bottom;
        }
      }
    }
  }

  // here we include the plugin styles from their own mixin below. We again have the opportunity to change/adjust settings through the mixin params
  @include lightbox-plugin;
}

@mixin lightbox-plugin(
  // make sure stuff below is reflected accordingly in the JS as now follow the parts ported from the plugin
  $overlay: '.lightbox-overlay',
  $overlay-background: $black,
  $overlay-opacity: .8,
  $overlay-z: 9999,
  $lightbox: '.lightbox',
  $lightbox-z: 10000,
  $image: '.lb-image',
  $outer-container: '.lb-outer-container',
  $container: '.lb-container',
  $loader: '.lb-loader',
  $cancel: '.lb-cancel',
  $nav: '.lb-nav',
  $nav-z: 10,
  $prev: '.lb-prev',
  $next: '.lb-next',
  $data-container: '.lb-data-container',
  $data: '.lb-data',
  $details: '.lb-details',
  $caption: '.lb-caption',
  $number: '.lb-number',
  $close: '.lb-close'
) {
  #{$overlay} {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $overlay-background;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$overlay-opacity * 100});
    opacity: $overlay-opacity;
    z-index: $overlay-z;
  }

  #{$lightbox} {
    position: absolute;
    left: 0;
    width: 100%;
    font-weight: normal;
    line-height: 0;
    text-align: center;
    z-index: $lightbox-z;

    #{$image} {
      display: block;
      max-width: inherit;
      height: auto;
      border-radius: 3px;
    }

    a img {
      border: 0;
    }
  }

  #{$outer-container} {
    @include clearfix;

    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $white;
  }

  #{$container} {
    padding: 4px;

    > .nav {
      left: 0;
    }
  }

  #{$loader} {
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
    height: 25%;
    line-height: 0;
    text-align: center;
  }

  #{$cancel} {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url('#{$lb-images-path}loading.gif') no-repeat;
  }

  #{$nav} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $nav-z;

    a {
      outline: none;
      background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
    }

    #{$prev} {
      left: 0;
      width: 34%;
      float: left;
      transition: opacity .6s;
      background: url('#{$lb-images-path}prev.png') left 48% no-repeat;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;

      &:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
      }
    }

    #{$next} {
      right: 0;
      width: 64%;
      float: right;
      transition: opacity .6s;
      background: url('#{$lb-images-path}next.png') right 48% no-repeat;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;

      &:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
      }
    }
  }

  #{$prev},
  #{$next} {
    display: block;
    height: 100%;
    cursor: pointer;
  }

  #{$data-container} {
    @include clearfix;

    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #{$data} {
    @include clearfix;

    padding: $lb-caption-padding;
    color: $lb-caption-color;

    #{$details} {
      width: 85%;
      float: left;
      line-height: 1.1em;
      text-align: left;
    }

    #{$caption} {
      font-size: $lb-caption-font-size;
      font-weight: $lb-caption-font-weight;
      line-height: $lb-caption-line-height;
    }

    #{$number} {
      display: block;
      padding-bottom: $lb-number-padding;
      clear: left;
      color: $lb-number-color;
      font-size: $lb-number-font-size;
    }

    #{$close} {
      display: block;
      width: 30px;
      height: 30px;
      float: right;
      transition: opacity .2s;
      outline: none;
      background: url('#{$lb-images-path}close.png') top right no-repeat;
      text-align: right;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: .7;

      &:hover {
        cursor: pointer;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
      }
    }
  }
}
