////
/// @group Molecules - Lightbox
////

// Lightbox
//
// This lightbox relies on the plugin provided by Lokesh Dhakar: http://lokeshdhakar.com/projects/lightbox2/
//
// To turn the lightbox on simply add a `data-lightbox` attribute to any image link. To create a gallery simply set the same `data-lightbox` value for several images. If you wish to see a caption add a `data-title` attribute. The plugin has been
// improved to read out the figcaption provided as a title too. So you can either set a figcaption, the `data-title` attribute or just a `title` attribute.
//
// To lay these lightboxes out in a nice gallery check out the lightbox-gallery organism.
//
// Markup: lightbox.html
//
// Style guide: molecules.lightbox

$lb-figcaption-background: $white !default;
$lb-figcaption-height: rem-calc(38) !default;
$lb-figcaption-padding: rem-calc(0 12) !default;

$lb-enum-color: $color-lines !default;
$lb-enum-font-size: rem-calc(28) !default;
$lb-enum-font-weight: bold !default;
$lb-enum-separator-spacing: rem-calc(6) !default;

$lb-images-path: 'images/molecules/lightbox/' !default;

$lb-caption-color: $color-text !default;
$lb-caption-font-size: rem-calc(13) !default;
$lb-caption-font-weight: bold !default;
$lb-caption-line-height: 16/13 !default;
$lb-caption-padding: rem-calc(0 4) !default;

$lb-number-color: $color-text !default;
$lb-number-font-size: rem-calc(12) !default;
$lb-number-padding: 1rem !default;

/// This mixin configures the display of a lightbox thumbnail with some extra options for its caption. For now the caption is always positioned exactly where it is put in the markup, above or below the image. The styles are optimized for displaying it below.
///
/// To get a better picture of how and what exactly we are styling here, please refer to the styleguide.
///
/// @param {String} $thumbnail ['.lb-thumb'] - This is the class assigned to the element containing the actual thumbnail and lightbox link (usually a `figure`).
/// @param {String} $thumbnail-caption ['.lb-figcaption'] - Selector for the thumbnail caption (could also just be the `figcaption` element).
/// @param {Boolean} $thumbnail-number [true] - Defines if there should be enumeration in the captions (numbers have to be added manually though).
/// @param {String} $thumbnail-enum ['.lb-enum'] - Selector for the enumeration `span` (see markup example).
/// @param {Boolean} $thumbnail-number-separator [true] - Defines whether there should be a seperator between number and rest of caption.
/// @param {String} $thumbnail-number-separator-char ['|'] - Defines the seperator.
///
/// @requires lightbox-plugin
///
/// @since 0.1.0
///
/// @author Raphael Hüni
@mixin lightbox(
  $thumbnail: '.lb-thumb',
  $thumbnail-caption: '.lb-figcaption',
  $thumbnail-number: true,
  $thumbnail-enum: '.lb-enum',
  $thumbnail-number-separator: true,
  $thumbnail-number-separator-char: '|'
) {
  #{$thumbnail} {
    a {
      // since the link only contains an image this ensures that there is no added space between the image and the caption
      display: block;
      line-height: 0;
    }
  }

  // style the thumbnail caption
  #{$thumbnail-caption} {
    height: $lb-figcaption-height;
    padding: $lb-figcaption-padding;
    background-color: $lb-figcaption-background;
    line-height: $lb-figcaption-height;
  }

  // if the thumbnails are enumerated through the caption, here are the styles for the numbers. We also add a separating pipe (|) which might want to be removed for certain projects depending on the design language
  @if $thumbnail-number {
    #{$thumbnail-enum} {
      color: $lb-enum-color;
      font-size: $lb-enum-font-size;
      font-weight: $lb-enum-font-weight;

      vertical-align: bottom;

      // if we want a separator we add it here
      @if $thumbnail-number-separator {
        &::after {
          margin: 0 $lb-enum-separator-spacing;

          content: $thumbnail-number-separator-char;

          // this helps alignment with the text after
          vertical-align: bottom;
        }
      }
    }
  }

  // here we include the plugin styles from their own mixin below. We again have the opportunity to change/adjust settings through the mixin params
  @include lightbox-plugin;
}

/// This mixin is a refactoring of the styles written by Lokesh Dhakar for his lightbox plugin. Please refer to the original documentation for plugin functionality, etc.
///
/// Should you change any of the default values, make sure to check the `js/molecules/lightbox.js` script and adjust the values that need adjustment accordingly (mostly the selectors).
///
/// @author Lokesh Dhakar, Raphael Hüni
///
/// @link http://lokeshdhakar.com/projects/lightbox2/ - Original plugin website
///
/// @requires clearfix
///
/// @since 0.1.0
///
/// @param {String} $overlay ['.lightbox-overlay'] - Selector for the overlay
/// @param {Color} $overlay-background [$black] - Overlay background color
/// @param {Number} $overlay-opacity [.8] - Overlay opacity
/// @param {Number} $overlay-z [9999] - Z-index applied to the overlay
/// @param {String} $lightbox ['.lightbox'] - Selector for the actual lightbox
/// @param {Number} $lightbox-z [10000] - Z-index applied to the lightbox
/// @param {String} $image ['.lb-image'] - Selector for the lightbox image (meaning the big one not the thumb)
/// @param {String} $outer-container ['.lb-outer-container'] - Selector for outer container
/// @param {String} $container ['.lb-container'] - Selector for container
/// @param {String} $loader ['.lb-loader'] - Selector for loader
/// @param {String} $cancel ['.lb-cancel'] - Selector for cancel
/// @param {String} $nav ['.lb-nav'] - Selector for lightbox navigation (prev, next)
/// @param {Number} $nav-z [10] - Z-index for the lightbox navigation
/// @param {String} $prev ['.lb-prev'] - Selector for the previous link
/// @param {String} $next ['.lb-next'] - Selector for the next link
/// @param {String} $data-container ['.lb-data-container'] - Selector for the data container
/// @param {String} $data ['.lb-data'] - Selector for the data
/// @param {String} $details ['.lb-details'] - Selector for the details
/// @param {String} $caption ['.lb-caption'] - Selector for the caption
/// @param {String} $number ['.lb-number'] - Selector for the number
/// @param {String} $close ['.lb-close'] - Selector for the close button
@mixin lightbox-plugin(
  // make sure stuff below is reflected accordingly in the JS as now follow the parts ported from the plugin
  $overlay: '.lightbox-overlay',
  $overlay-background: $black,
  $overlay-opacity: .8,
  $overlay-z: 9999,
  $lightbox: '.lightbox',
  $lightbox-z: 10000,
  $image: '.lb-image',
  $outer-container: '.lb-outer-container',
  $container: '.lb-container',
  $loader: '.lb-loader',
  $cancel: '.lb-cancel',
  $nav: '.lb-nav',
  $nav-z: 10,
  $prev: '.lb-prev',
  $next: '.lb-next',
  $data-container: '.lb-data-container',
  $data: '.lb-data',
  $details: '.lb-details',
  $caption: '.lb-caption',
  $number: '.lb-number',
  $close: '.lb-close'
) {
  #{$overlay} {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $overlay-background;
    opacity: $overlay-opacity;
    z-index: $overlay-z;
  }

  #{$lightbox} {
    position: absolute;
    left: 0;
    width: 100%;
    font-weight: normal;
    line-height: 0;
    text-align: center;
    z-index: $lightbox-z;

    #{$image} {
      display: block;
      max-width: inherit;
      height: auto;
      border-radius: 3px;
    }

    a img {
      border: 0;
    }
  }

  #{$outer-container} {
    @include clearfix;

    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $white;
  }

  #{$container} {
    padding: 4px;

    > .nav {
      left: 0;
    }
  }

  #{$loader} {
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
    height: 25%;
    line-height: 0;
    text-align: center;
  }

  #{$cancel} {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url('#{$lb-images-path}loading.gif') no-repeat;
  }

  #{$nav} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $nav-z;

    a {
      outline: none;
      background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
    }

    #{$prev} {
      left: 0;
      width: 34%;
      float: left;
      transition: opacity .6s;
      background: url('#{$lb-images-path}prev.png') left 48% no-repeat;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    #{$next} {
      right: 0;
      width: 64%;
      float: right;
      transition: opacity .6s;
      background: url('#{$lb-images-path}next.png') right 48% no-repeat;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  #{$prev},
  #{$next} {
    display: block;
    height: 100%;
    cursor: pointer;
  }

  #{$data-container} {
    @include clearfix;

    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #{$data} {
    @include clearfix;

    padding: $lb-caption-padding;
    color: $lb-caption-color;

    #{$details} {
      width: 85%;
      float: left;
      line-height: 1.1em;
      text-align: left;
    }

    #{$caption} {
      font-size: $lb-caption-font-size;
      font-weight: $lb-caption-font-weight;
      line-height: $lb-caption-line-height;
    }

    #{$number} {
      display: block;
      padding-bottom: $lb-number-padding;
      clear: left;
      color: $lb-number-color;
      font-size: $lb-number-font-size;
    }

    #{$close} {
      display: block;
      width: 30px;
      height: 30px;
      float: right;
      transition: opacity .2s;
      outline: none;
      background: url('#{$lb-images-path}close.png') top right no-repeat;
      text-align: right;
      opacity: .7;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
