/*
# Buttons

Uses the logic described on the Button Logic page to style some button variants. Of course in the production variant you would also assign icons to the `.btn-forwar` and `btn-back` buttons.

```
<a href="#" class="btn">Anchor Tag Button</a><br>
<button class="btn">Button Tag</button><br>
<input type="submit" class="btn" value="Button Input"><br>

<a href="#" class="btn btn-primary">Primary Button</a><br>
<a href="#" class="btn btn-back">Back Button</a><br>
<a href="#" class="btn btn-forward">Forward Button</a><br>
<a href="#" class="btn btn-wide">Wide Button</a><br>

```
 */

// create the standard button
.btn {
  @include button-base;
  @include button-size;
  @include button-text;
  @include button-colors;

  &.btn-primary {
    @include button-colors(
      $bg: $button-primary-background-color,
      $bg-hover-treatment: $button-primary-hover-treatment
    )
  }

  &.btn-forward {
    @include button-icon(
      $icon: 'left'
    )
  }

  &.btn-back {
    @include button-icon(
      $icon: 'right'
    )
  }

  &.btn-wide {
    @include button-size(
      $full-width: 'all'
    )
  }
}
